.header, .hero, .body, .bar, .footer {
    background-color: #34495e;
    margin-bottom: 10px;
}
.box {
    margin: 10px 0;
    background-color: #3498db;
    min-height: 60px;
    margin-bottom: 15px;
    color: #fff;
    font-size: 40px;
}

.red {
    background-color: red;
}
.green {
    background-color: #fff;
    color: red;
}